[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
