snippet #!
	#!/usr/bin/env python

snippet ifmain
	if __name__ == '__main__':
		${1:main()}

# PuDB FTW
snippet pdb
	import pudb ; pudb.set_trace()
snippet pdbs
	import sys ; sys.stdout = sys.__stdout__ ; import pudb ; pudb.set_trace()
